"*":
  "activate-power-mode":
    comboMode:
      enabled: false
    particles:
      size:
        max: 3
        min: 1
      spawnCount:
        max: 30
        min: 10
      totalCount: {}
    playAudio: {}
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
      maxIntensity: 1
  "atom-beautify":
    general:
      _analyticsUserId: "c29de772-b007-49e4-bae5-3eebcc8ed831"
  "atom-material-ui":
    colors:
      abaseColor: "#80deea"
      accentColor: "#528c94"
      paintCursor: true
      predefinedColor: "Cyan"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      useAnimations: false
  "atom-minimap-titles":
    font: "ANSI Shadow"
  "autocomplete-java":
    classpathFilePath: "."
  "autocomplete-plus": {}
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "minimap"
      "whitespace"
      "atom-beautify"
      "docblockr"
      "activate-power-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "spacegray-light-neue-ui"
      "one-light-syntax"
    ]
    titleBar: "custom"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Consolas, Fira Code, Menlo"
    fontSize: 11
    invisibles:
      eol: "↩"
      space: " "
      tab: "❯"
    showIndentGuide: true
    softTabs: false
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "69e968d8-39f3-7542-7e4d-7358c28fd32d"
  "git-plus":
    general:
      _analyticsUserId: "02e19b4c-df29-4fbd-97d3-0d7fe0086916"
  linter:
    disabledProviders: [
      "ESLint"
    ]
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 81
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      linter: true
      pigments: false
      pigmentsDecorationsZIndex: 0
  "one-dark-ui": {}
  "terminal-plus":
    style:
      fontFamily: "Fira Mono Powerline"
      theme: "novel"
  "theme-switch":
    darkProfiles: [
      "atom-material-ui atom-material-syntax"
      "one-dark-ui one-dark-syntax"
    ]
    lightProfiles: [
      "spacegray-light-neue-ui one-light-syntax"
      "one-light-ui one-light-syntax"
    ]
    profiles: [
      "atom-material-ui one-light-syntax"
      "atom-material-ui atom-light-syntax"
      "atom-material-ui atom-material-syntax-light"
      "atom-material-ui duotone-light-syntax"
      "atom-material-ui base16-tomorrow-light-theme"
    ]
  "tree-view":
    showOnRightSide: true
  "vim-mode-plus":
    flashOnOperate: false
    flashOnSearch: false
    flashOnUndoRedo: false
    flashScreenOnSearchHasNoMatch: false
    highlightSearch: true
    incrementalSearch: true
    showHoverOnOperateIcon: "emoji"
  welcome:
    showOnStartup: false
